{% extends "global/base.html" %}
{% block title %}HOME{% endblock title %}
{% block conteudo %}
    <h1>PAGINA HOME DE RECIPES</h1>
    {% for receita in receitas %}
        <div id="{{receita.id}}">
            <div>
                <img src="{{receita.link_imagem}}" alt="">
            </div>
            
            <div>
                <h1>{{ receita.receita|default:"Titulo não encontrado" }}</h1>
                <p>{{ receita.ingredientes|default:"Descrição não encontrada" }}</p>
                <p>{{"Daniel Dantas"|default:"Autor não encontrado"}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock conteudo %}