{% extends "global/base.html" %}
{% block title %}RECEITA | {{ receita.receita|default:"Titulo não encontrado" }}{% endblock title %}
{% block conteudo %}
<div id="{{receita.id}}" class="card-receita noEffect_card card-receita_individual">
    <img src="{{receita.link_imagem}}" alt="{{receita.receita}}">
    
    <div class="content-recipe">
        <h1>{{ receita.receita|default:"Titulo não encontrado" }}</h1>
        <div class="sub-info flex-row">
            <p class="flex-row">
                <i class="fa-solid fa-user"></i>
                {{"Daniel Dantas"|default:"Autor não encontrado"}}
            </p>
            <p class="flex-row">
                <i class="fa-solid fa-calendar-days"></i>
                {% comment %} {{receita.created_at|default:"00/00/0000"}} {% endcomment %}
                00/00/0000
            </p>
            <p class="flex-row">
                <i class="fa-solid fa-layer-group"></i>
                dolores
            </p>
        </div>
        <p>{{receita.modo_preparo}}</p>
    </div>
    <div class="flex-column">
        <div class="preparoPorcoes flex-row">
            <div class="flex-column">
                <p>
                    <i class="fa-solid fa-stopwatch"></i>
                    Preparo
                </p>
                <p>
                    60 Minutos
                </p>
            </div>
            <div class="flex-column">
                <p>
                    <i class="fa-solid fa-pizza-slice"></i>
                    Porções
                </p>
                <p>
                    77 Porções
                </p>
            </div>
        </div>
        {% if button_is_visible %}
            <a href="/recipes/{{receita.id}}" class="button-see">
                <i class="fa-solid fa-eye"></i>
                ver mais...
            </a>
        {% endif %}
    </div>
{% endblock conteudo %}