@import url('./recipe.css');

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: black;
    gap: .7rem;
    color: white;
    padding: 2rem;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-headings);
}

header > div {
    font-size: 1.6rem;
    font-weight: 600;
}