.search {
    width: 50%;
    height: 40px;
    border: 2px solid var(--color-black);
    border-radius: .5rem;
    gap: .5rem;
    padding: .5rem;
    background-color: transparent;
}

.search > input {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: var(--color-dark-text);
}

.search:hover, .search:focus-within {
    background-color: white;
    border: 2px solid var(--color-info-dark);
    color: var(--color-info-dark);
    transition: .3s;
}